<html>
<head>
	<title><%= @article.title %></title>
</head>
<body>
	<p>
		<strong>Title:</strong>
		<%= @article.title %>
	</p>

	<p>
		<strong>Text:</strong>
		<%= @article.content %>
	</p>
	<p>
		<strong>Created_at:</strong>
		<%= @article.created_at.strftime("%H:%M:%S %A  %Z") %>
	</p>
	<p>
		<strong>Update_at:</strong>
		<%= @article.updated_at %>
	</p>
 
	<%= link_to 'Back', articles_path %>
</body>
</html>