<h1>Listing products</h1>

<style type="text/css">
.isOdd_true{
  background-color: #EEEEEE;
}
</style>

<table>

    <% @products.each do |product| %>
    <% @table_tr_odd = false 
      @table_tr_i = !@table_tr_i
    %>
      <tr class="<%= "isOdd_#{@table_tr_i}" %>">

        <td><%= image_tag(product.image_url,:class => 'list_image') %></td>
        <td>
          <dl>
            <dt id="td_product_title"><strong><%= product.title %></strong></dt>
            <dt id="td_product_description"><%= product.description %></dt>
          </dl>
        </td>
        <td><%= product.price %></td>
        <td><p id="td_product_timestamp"><%= product.created_at %></p></td>
        <td><p id="td_product_timestamp"><%= product.updated_at %></p></td>
        <td>
          <dl>
            <dt><%= link_to 'Show', product %></dt>
            <dt><%= link_to 'Edit', edit_product_path(product) %></dt>
            <dt><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></dt>
          </dl>
          
          
        </td>
      </tr>
    <% end %>
</table>
<br>

<%= link_to 'New Product', new_product_path %>

