<% if true %>
	<p id="notice"></p>
<% end %>

<h1> Your Pragmatic Catalog</h1>
	
<table>	
    <% @products.each do |product| %>
    <% @table_tr_odd = false 
      @table_tr_i = !@table_tr_i
    %>
      <tr class="<%= "isOdd_#{@table_tr_i}" %>">
        <td><%= image_tag(product.image_url,:class => 'list_image') %></td>
        <td>
          <dl>
            <dt id="td_product_title"><strong><%= product.title %></strong></dt>
            <dt id="td_product_description"><%= product.description %></dt>
          </dl>
        </td>
        <td>
        	<span><%= number_to_currency(product.price) %></span>
        </td>
      </tr>
<% end %>
</table>
